@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}

p {
    white-space: pre;
}

ul {
    margin-bottom: 0 !important;
} */
